@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUIRegular/SegoeUIRegular.eot'), url('../fonts/SegoeUIRegular/SegoeUIRegular.woff') format('woff'), url('../fonts/SegoeUIRegular/SegoeUIRegular.ttf') format('truetype'), url('../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
	}

	@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/Gotham Pro/GothamPro.eot'), url('../fonts/Gotham Pro/GothamPro.woff') format('woff'), url('../fonts/Gotham Pro/GothamPro.ttf') format('truetype'), url('../fonts/Gotham Pro/GothamPro.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
	}

	@font-face {
		font-family: 'GothamPro';
		src: url('../fonts/Gotham Pro bold/GothamPro-Bold.eot'), url('../fonts/Gotham Pro bold/GothamPro-Bold.woff') format('woff'), url('../fonts/Gotham Pro bold/GothamPro-Bold.ttf') format('truetype'), url('../fonts/Gotham Pro bold/GothamPro-Bold.eot?#iefix') format('embedded-opentype');
		font-weight: 700;
		font-style: normal;
	}
		@font-face {
		font-family: 'Georgia';
		src: url('../fonts/Georgia/Georgia.eot'), url('../fonts/Georgia/Georgia.woff') format('woff'), url('../fonts/Georgia/Georgia.ttf') format('truetype'), url('../fonts/Georgia/Georgia.eot?#iefix') format('embedded-opentype');
		font-weight: 400;
		font-style: normal;
	}

	.caption-wrap{
		text-align: center;
			@media (max-width: $screen-xs-max){
				padding-bottom: 0;
				}
		.caption{
			font-size: 20px;
			line-height: 27px;
			text-align: center;
			display: inline-block;
			font-family: 'GothamPro';
			font-weight: 900;
			margin: 0;
			@media (max-width: $screen-xs-max){
				margin-top: 10px;
			}
		}
	}

$main-color: #9398CC;

* {
  margin: 0;
  padding: 0;
}











.size2 {
    padding: 15px;
    max-width: 545px;
    width: 100%;
    height: auto;
    background-color: #fff;
    position: relative;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    .popup__submit {
    border: 4px $main-color solid;
    border-radius: 5px;
    padding: 15px;
}
}
.size2 .mfp-close {
    margin-right: -40px;
    margin-top: -40px;
    border: none;
    color: #b0e146;
    font-size: 40px;
    opacity: 100;
    	font-family: 'GothamPro';
			font-weight: 500;
}









@-webkit-keyframes gearA {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes gearA {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes gearB {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}
@keyframes gearB {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}


@-webkit-keyframes inM {
	50% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(45deg);
	}
}

@keyframes inM {
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}

@-webkit-keyframes outM {
	50% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(45deg);
	}
}

@keyframes outM {
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}

@-webkit-keyframes inT {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(9px) rotate(135deg);
	}
}

@keyframes inT {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(9px) rotate(0deg);
	}
	100% {
		transform: translateY(9px) rotate(135deg);
	}
}

@-webkit-keyframes outT {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(9px) rotate(135deg);
	}
}

@keyframes outT {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(9px) rotate(0deg);
	}
	100% {
		transform: translateY(9px) rotate(135deg);
	}
}

@-webkit-keyframes inBtm {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(-9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(-9px) rotate(135deg);
	}
}

@keyframes inBtm {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(-9px) rotate(0deg);
	}
	100% {
		transform: translateY(-9px) rotate(135deg);
	}
}

@-webkit-keyframes outBtm {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(-9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(-9px) rotate(135deg);
	}
}

@keyframes outBtm {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(-9px) rotate(0deg);
	}
	100% {
		transform: translateY(-9px) rotate(135deg);
	}
}

.mm-navbar {
	height: 83px;
	img{
		max-width: 100%;
		padding-top: 15px;
	}
}

.mm-panels>.mm-panel>.mm-listview:first-child, .mm-panels>.mm-panel>.mm-navbar+.mm-listview {
	margin-top: 23px;
}

.mm-right.mm-opening .mm-menu.mm-fx-menu-slide {
	z-index: 999999;
}