.specialist{
	padding-top: 50px;
	padding-bottom: 30px;
	min-height: 100vh;
	
	&__desc{
		width: 100%;
		box-shadow: 5px 20px 99px rgba(149,152,154,0.16);
		padding-left: 70px;
		padding-right: 70px;
		padding-top: 70px;
		padding-bottom: 70px;
		margin-bottom: 40px;
		border-radius: 5px;
		@media (max-width: $screen-md-max){
			padding: 30px;
			margin-bottom: 30px;
		}
		@media (max-width: $screen-xs-max){
			padding-left: 15px;
			padding-right: 15px;
		}

	}



	&--desc{
		max-width: 770px;	
		min-height: 400px;
		@media screen and (max-width: 1200px){
			width: 100%;
			max-width: 100%;
		}	
	}
	h2{
		font-size: 20px;
		font-family: 'GothamPro';
		font-weight: 500;
		margin: 0;
		padding: 0;
		padding-bottom: 20px;
		@media (max-width: $screen-md-max){
			padding-bottom: 0;
		}
		@media (max-width: $screen-xs-max){
			font-size: 17px;
		}
	}
	p{
		padding-top: 35px;
		font-size: 18px;
		font-family: 'Georgia';
		font-weight: 400;
		color: #4B4B4B;
		margin: 0;
		padding: 0;
		padding-top: 30px;
		@media (max-width: $screen-md-max){
			padding-top: 20px;
			font-size: 16px;
		}
		@media (max-width: $screen-xs-max){
			font-size: 15px;
		}
	}
	&__list{
		padding: 20px 0;
		width: 100%;
		box-shadow: 5px 20px 99px rgba(149,152,154,0.16);
		.panel-default {
			border: none;
		}
		.navbar-nav {
			text-align: center;

			li{
				float: none;
			}
			float: none;
			> li > a {
				color: #4B4B4B;
				font-size: 15px;
				font-family: 'GothamPro';
				font-weight: 100;
				&:hover,
				&:focus {
					color: #fff;
					background-color: $main-color;
				}
			}
			> .active > a {
				&,
				&:hover,
				&:focus {
					color: #fff;
					background-color: $main-color;
				}
			}
			> .disabled > a {
				&,
				&:hover,
				&:focus {
					color: #fff;
					background-color: transparent !important;
				}
			}
		}
	}
}
